.nav-links {
  text-decoration: none;
}

#similarJobListItem {
  flex-grow: 1;
}
@media (min-width: 768px) {
  #similarJobListItem {
    width: 400px;
  }
}

.heading-300 {
  color: white;
}

.heading-250 {
  color: white;
}

.para-150 {
  color: white;
  opacity: 0.9;
}
